@(reportList: List[Report])

@main("Cruise Price Drop") {
    <table class="table table-striped">
        <tr>
            <th>Cruise Id</th>
            <th>External Sailing Id</th>
            <th>Sailing Date</th>
            <th>Embarcation Port</th>
            <th>Region Id</th>
            <th>Ship Id</th>
            <th>Lenght Of Cruise</th>
            <th>Vendor Name</th>
            <th>Lowest Rrice</th>
        </tr>
        @for(report <- reportList){
        <tr>
            <td>@report.cruiseId</td>
            <td>@report.externalSailingId</td>
            <td>@report.sailingDate</td>
            <td>@report.embarcationPortId</td>
            <td>@report.regionId</td>
            <td>@report.shipId</td>
            <td>@report.lenghtOfCruise</td>
            <td>@report.vendorName</td>
            <td>@report.lowestPrice</td>
        </tr>
        }
    </table>
}
